:root {
    --primary-color: #374785;
    --accent-color: #ffffff;
    --primary-btn-color-alpha: #F8E9A1;
    --primary-btn-color-beta: #F76C6C;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ABD0E6;
    font-family: Poppins, sans-serif;
}

button:hover {
    cursor: pointer;
}

.homepage {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0 7em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6em 0;
}

.header-logo {
    text-transform: uppercase; 
    color: var(--primary-color);
}

.header-logo strong:first-of-type {
    color: var(--accent-color);
    border-bottom: 3px solid var(--primary-color);
}

.header-logo:hover {
    cursor: pointer;
}

.header-links a{
    text-decoration: none;
    color: initial;
    margin: 0 .5em;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.hero-main-heading {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 3rem;
    width: 30ch;
    margin: 0;
}

.hero-main-subheading {
    color: var(--accent-color);
    font-size: 1.2em;
    width: 45ch;
    margin: 0;
    margin-top: .5em;
}

main button {
    background: var(--primary-btn-color-alpha);
    color: var(--primary-color);
    padding: .6em 1.6em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 3em;
    margin-left: 7em;
    border: none;
}

.feedback {
    background: var(--primary-btn-color-beta);
    color: var(--accent-color);
    font-size: .8em;
    font-weight: 700;
    position: fixed;
    right: 0;
    bottom: 3em;
}

footer {
    text-transform: capitalize;
    text-align: center;
    font-size: .7em;
    padding: .5em 0;
    color: var(--primary-color);
}

